/*
 *
 * Checkout
 *
 */

.form-mercadopago{
    padding: 10px 0 0 0 !important;
}

.banner_checkout_mp{
    
}

#img_payment_method{
    float: left;
    margin: 5px 0 0 0;    
}

.box-mes{
    width: 160px;
    float: left;
}

.box-mes select{
    width: 150px;
}
.box-ano{
    width: 135px;
    float: left;
    margin: 0 0 0 10px;
}

.box-ano select{
    width: 90px;
}

.box-input{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}

#status{
    float: left;
    margin: 10px 0 0 0;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
}

#status.msg-alert{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#status.msg-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#status.msg-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#status .box{
    float: left;
    width: 100%;
    padding: 15px;
}

#status .loading-mp{
    float: left;
    margin: 0 10px 0 0;
}

#status .text-mp{
    float: left;
}

#mercadopago_transparent_doc{
    width: 120px;
}

#mercadopago_transparent_code{
    width: 50px;
}

/*
 *
 * Pagina de sucesso
 *
 */

#mensagem_mp{
    float: left;
}
#mensagem_mp h4{
    font-size: 18px;
}

#mensagem_mp .status{
    font-size: 14px;
}

.voltar{
    text-transform:uppercase;
}

#logo_mp{
    float: left;
    /*text-align: center;*/
    width: 100%;
    margin: 40px 0 0 0;
}



.btn-boleto{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    background-color: #36A1F1;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#36A1F1),color-stop(100%,#0F79C9));
    background-image: -webkit-linear-gradient(#36A1F1,#0F79C9);
    background-image: -moz-linear-gradient(#36A1F1,#0F79C9);
    background-image: -o-linear-gradient(#36A1F1,#0F79C9);
    background-image: linear-gradient(#36A1F1,#0F79C9);
    -webkit-box-shadow: inset 0 1px #97DCFF;
    box-shadow: 0 1px #97DCFF inset;
    color: #FFF!important;
    border: 1px solid #0D6FB9;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 1.25em;
    padding: 6px 12px;
    font-size: 20px;
}





/*
 *
 *
 *
 *
 *
 */

#standard_banner_checkout{
    width: 100%;
    float: left;
}